/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-10-15, 15:07:41
    Author     : estera
*/

#gradientOptions li{
    margin-top:25px;
 }
#wypelnienieGradient{
    height:400px;
    width:100%;
 }
 #wypelnienieGradient{
    margin-top:25px; 
 }
 #textCss{
    margin-top:25px;  
 }
 #cssTextarea{
     width:100%;
     height:150px;
 }
 .radial{
     display:none;
 }
 .poczatek{
     background-color:#EBFFEB;
 }
 .koniec{
     background-color:#D6EBFF;
 }
    
